.cardPerfil {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:#90e0ef;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
    margin: auto;
}

.backgroundArtPixel {
    animation-name: retangulo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    background-color: rgba(239, 71, 111, 1);
    border-radius: 20px;
    box-shadow: 0 7px #999;
    position: relative;
    margin-top: 5px;

  }
  
  @keyframes retangulo {
    0% { background-color: rgba(239, 71, 111, 1); }
    25% { background-color: rgba(255, 209, 102, 1); }
    50% { background-color: rgba(6, 214, 160, 1); }
    75% { background-color: rgba(58, 134, 255, 1); }
    100% { background-color: rgba(239, 71, 111, 1); }
  }

.circulo {
  background-color: #aaa;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;


}
.circulo img {
    position: relative;
    bottom: 1.2em;
    width: 410px;
    left: -7em;
}
.cardPerfil p {
    display: flex;
    margin-left: 7em;
    margin-right: 5em;
    margin-top: 2em;
    padding: 10px 0 0;
    font-size: 110%;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
}
h1 {
    font-family: FreeMono, monospace;
}
h2 {
    font-family: FreeMono, monospace;
    margin-left: 2em;
}

.card {
    display: inline-flex;
    margin-left: 2em;
    margin-top: 1em;
    box-shadow: 5px 7px #999;
    min-height: 300px;
}

.card-body {
    text-align: justify;
}

footer {
    font-family: FreeMono, monospace;
    display: flex;
    margin-left: 20em;
    margin-top: 2em;
    min-height: 50px;
}